<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>Label</key>
    <string>com.fm-export-exploder.service</string>
    <key>ProgramArguments</key>
    <array>
        <string>/bin/bash</string>
        <string>/Applications/fm-export-exploder/run.bash</string>
    </array>
    <key>RunAtLoad</key>
    <true/>
    <key>StartCalendarInterval</key>
    <dict>
        <key>Hour</key>
        <integer>7</integer>
        <key>Minute</key>
        <integer>0</integer>
    </dict>
    <key>UserName</key>
    <string>YOUR_USERNAME_HERE</string>
    <key>StandardOutPath</key>
    <string>/Applications/fm-export-exploder/log/out.log</string>
    <key>StandardErrorPath</key>
    <string>/Applications/fm-export-exploder/log/error.log</string>
    <key>WorkingDirectory</key>
    <string>/Applications/fm-export-exploder</string>
</dict>
</plist>
